<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Black Cat Retirement</title>

    <!-- css/Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/my_reservation.css}"/>
    <link th:href="@{/vendor/bootstrap.min.css}" rel="stylesheet"/>

    <!-- scripts -->
    <script defer th:src="@{/javascript/my_reservation.js}"></script>
    <!-- header block -->
    <th:block th:replace="~{fragments/header :: header}"></th:block>

</head>
<body>
    <h1 class="my_reservation_title">My reservations</h1>

    <div class="table-wrapper">
        <table id="reservationTable" class="table">
            <thead>
            <tr id="my_reservation_table">
                <th>Check in</th>
                <th>Check out</th>
                <th>Room</th>
                <th>Extra bed</th>
                <th>Total cost</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="table_body">
            <!-- Js script -->
            </tbody>
        </table>
    </div>

    <div id="errorPopup" class="popup-overlay">
        <div class="popup-box">
            <h3>Unable to update reservation</h3>
            <p>The selected dates are not available. Please choose different dates.</p>

                <div class="popup-buttons">
                    <button id="closeErrorPopup" class="popup-btn cancel">Close</button>
                </div>
            </div>
    </div>
</body>
</html>